<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentLevel</key>
	<integer>5</integer>
	<key>currentLife</key>
	<integer>5</integer>
	<key>currentDateLife</key>
	<date>2015-12-27T23:06:24Z</date>
	<key>currentSizeMaxLife</key>
	<integer>5</integer>
	<key>currentMoney</key>
	<integer>0</integer>
	<key>currentBase</key>
	<integer>0</integer>
</dict>
</plist>
